<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="hamburger">
        <div class="cta">
            <div class="toggle-btn type14"></div>
        </div>
    </div>

    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
<img src="images/navi.png" alt="logo" style="width:40px;">
</a>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="images/notification.png" alt=""></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="images/sms.png" alt=""></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><img src="images/userr.png" alt=""></a>
        </li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-1"> 
        <section class="side-bar-warp">
            <div class="sidebar-menu small-side-bar flowHide">
                <nav class="">
                    <ul class="navbar-nav side-nav">
                        <li class="nav-item">
                           <!-- <a href="/dashboard" data-toggle="collapse" data-target="#submenu-1" class="nav-link">
                                <span class="sidebar-icon"><img src="images/test_repository.jpeg" alt="" style="width:30px;"></span>
                                <span class="fadeInRight animated nav-link-name name-hide tax-show">Test Repository</span> <i class="fa fa-fw fa-angle-down pull-right"></i>
                            </a>
                            <ul id="submenu-1" class="collapse">
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1.1</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1.2</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 1.3</a></li>
                            </ul> -->
                            <a class="nav-link" href="/testcases">
                                <span class="sidebar-icon"><img src="images/test_repo.jpg" alt="" style="width:30px;"></span>
                                <span class="fadeInRight animated nav-link-name name-hide tax-show">Test Repository</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wip">
                            <span class="sidebar-icon"><img src="images/test_plan1.jpeg" alt="" style="width:30px;"></span>
                            <span class="fadeInRight animated nav-link-name name-hide tax-show">Test Plans</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wip">
                            <span class="sidebar-icon"><img src="images/stats.png" alt="" style="width:30px;"></span>
                            <span class="fadeInRight animated nav-link-name name-hide tax-show">Stats</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wip">
                            <span class="sidebar-icon"><img src="images/user.png" alt="" style="width:30px;"></span>
                            <span class="fadeInRight animated nav-link-name name-hide tax-show">Users</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wip">
                            <span class="sidebar-icon"><img src="images/task2.png" alt="" style="width:30px;"></span>
                            <span class="fadeInRight animated nav-link-name name-hide tax-show">Task Board</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/wip">
                            <span class="sidebar-icon"><img src="images/help3.png" alt="" style="width:30px;"></span>
                            <span class="fadeInRight animated nav-link-name name-hide tax-show">Help/Feedback</span>
                            </a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                            <span class="sidebar-icon"><img src="images/logout.png" alt="" style="width:30px;"></span>
                            <span class="fadeInRight animated nav-link-name name-hide tax-show">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            
            
        </section>
    </div>
    <div class="col-md-11"> 